@import 'bootstrap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.1/bootstrap-social.min.css';

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 8%;
  right: 8%;
  padding-left: 15px;
  padding: 15px;
  min-height: 50px;
  background-color: LightGray;
  border-radius: 6px;
}

hr {
	height: 2px;
	color: gray;
	background-color: gray;
}

.book{
    position: relative;
    display: inline-block;
}

.bookoption{
	border-radius: 5px;
	background: LightBlue;
	width: 30px;
	left: 4px;
	top: 4px;
	text-align: center;
	border: solid black;
	position: absolute;
}

.tradebookoption{
	border-radius: 5px;
	background: LightBlue;
	width: 30px;
	left: 4px;
	bottom: 4px;
	text-align: center;
	border: solid black;
	position: absolute;
}

.bookoption:hover, .tradebookoption:hover {
	color: gray;
	cursor:pointer;
}